h4 {
  color: red;
  font-size: 260px;
  opacity: 0.65;
}

@media (max-width: 650px) {
  .carousel-caption h4 {
    font-size: 350%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
    color: red;
    opacity: 0.65;
  }
}
