.tester {
  position: relative;
  height: 75px;
  background-image: linear-gradient(#c3c3c3, #615a58);
  border-bottom-left-radius: 50% 30%;
  border-bottom-right-radius: 50% 30%;
  /* opacity: 0.65; */
}

.tester h2 {
  color: #333;
  font-weight: bolder;
  text-align: center;
  padding-top: 12px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  padding-top: 30px;
}

/* Four Columns that are displayed next to each other*/
.column {
  flex: 25%;
  max-width: 33.3%;
  padding: 0 4px;
  position: relative;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s linear;
  position: relative;
}

.column img:hover {
  filter: grayscale(0) brightness(0.3);
  cursor: pointer;
}

/* TESTING */
.col1 {
  background-image: url('../images/top11_nmdhrgreen.jpg');
  background-repeat: none;
  background-size: cover;
}

.col2 {
  background-image: url('../images/top2_j5oreo.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

/* HOVERING TEXT STYLING ON HOVER*/
.hvrtxt {
  background: #00000080;
  opacity: 0;
  transition-duration: 1.2s;
  /* transition-timing-function: ease-in-out; */
}
.hvrtxt:hover {
  background: #00000080;
  opacity: 1;
}

/* TEXT BACKGROUND COLOR */

/* Responsive layout - stacks two columns ontop of each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .column img {
    filter: grayscale(0) brightness(1);
  }
}
